.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

.main-container .board {
  background-color: rgba(15, 205, 171, 1);
}
