.opacity-layer {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.win-modal {
  width: 480px;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.23);
}

.modal-title {
  font-size: 35px;
  color: rgba(15, 205, 171, 1);
}

.modal-description {
  font-size: 20px;
  margin: 15px 0;
}

.disabled {
  opacity: 0.5;
}
