@font-face {
  font-family: 'AxeHandel';
  src: local('AxeHandel'), url(./assets/fonts/AxeHandel.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Bold';
  src: local('Raleway-Bold'), url(./assets/fonts/Raleway-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(./assets/fonts/Raleway-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'AxeHandel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-size: 30px;
}

button {
  font-family: 'Raleway-Bold';
  width: 100px;
  height: 30px;
  border-radius: 5px;
  border: none;
}

button:focus {
  outline: 0;
}
