@font-face {
  font-family: 'AxeHandel';
  src: local('AxeHandel'), url(./assets/fonts/AxeHandel.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Black';
  src: local('Raleway-Black'), url(./assets/fonts/Raleway-Black.ttf) format('truetype');
}

@font-face {
  font-family: 'Raleway-Regular';
  src: local('Raleway-Regular'), url(./assets/fonts/Raleway-Regular.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'AxeHandel';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 75px;
  margin: 25px 0;
}

p {
  font-family: 'Raleway-Regular';
  font-size: 25px;
  margin: 0;
}

button {
  font-family: 'Raleway-Black';
  width: 127px;
  height: 40px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0px 3px 9px 0px rgba(0,0,0,0.23);
  transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
  background-color: white;
  color: rgba(15, 205, 171, 1);
  font-size: 14px;
}

button:hover {
  background-color: rgba(15, 205, 171, 1);
  color: white;
  border: 2px solid white;
}

button:focus {
  outline: 0;
}

.green-button {
  background-color: rgba(15, 205, 171, 1);
  color: white;
}

.green-button:hover {
  background-color: white;
  color: rgba(15, 205, 171, 1);
  border: 2px solid rgba(15, 205, 171, 1);
}


@media (orientation: portrait) {
  body {
    background-color: rgba(15, 205, 171, 1);
  }

  .main-container {
    display: none;
  }

  .portrait-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(15, 205, 171, 1);
    padding: 30px;
    width: 100vw;
  }

  .portrait-message {
    color: white;
    font-family: 'AxeHandel';
    font-size: 40px;
    text-align: center;
  }
}

@media (orientation: landscape) {
  .portrait-container {
    display: none;
  }
}

@media (max-width: 1080px) {
  p {
    font-size: 20px;
  }

  .board-container {
    width: 85%;
    padding: 2% 2% 0.8% 2%;
    border-radius: 14px;
  }

  .level {
    display: none;
  }

  .button-container {
    display: none;
  }

  .back-button {
    display: block;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
  }

  .back-image {
    position: absolute;
    width: 18px;
    left: 4px;
  }

  .images-container {
    height: 100px;
    margin-bottom: 10px;
  }

  .level-image-container {
    width: 60px;
    height: 60px;
  }

  .bigger {
    width: 80px;
    height: 80px;
  }

  .level-number {
    font-size: 34px;
  }

  .bigger .level-number {
    font-size: 48px;
  }

  .modal-description {
    margin: 15px 0;
  }

  .card-container {
    width: 15.5%;
    margin-bottom: 10px;
  }
}
